
  <h1>Demo App</h1>

  <h2>
    Open app.com/download in your phone’s browser or <b>text it to your phone</b>...
  </h2>

<script type="text/javascript" src="http://apptexts.herokuapp.com/phone_texter?id=1"></script>
