<h1>Get the free app</h1>
<p>Text a link to your phone (live)</p>

<script type="text/javascript" src="http://morning-spire-1524.herokuapp.com/form.js"></script>

<p>Text a link to your phone (demo)</p>

<script type="text/javascript" src="http://localhost:3000/phone_texter?url=http://www.google.com"></script>
