<div class="center hero-unit">
  <h1>Welcome to App Texts</h1>

  <h2>
    Put your app info below and we'll give you code to embed. Users will get a text directing them to a mobile download page. <%= link_to "Here's a demo", "demo" %> of what it looks like.
  </h2>
</div>

  <%= render 'form' %>



