<h1>Success! Now embed the code below onto your page</h1>
<p>
  <%= html_escape('<script type="text/javascript" src="http://morning-spire-1524.herokuapp.com/phone_texter?id=') %><%= @app.id%><%= html_escape('"></script>') %>
</p>

