<div class="center hero-unit">
	<h1>Now embed this code</h1>
	<p>
  <% code = '<script type="text/javascript" src="http://apptexts.herokuapp.com/phone_texter?id=' + @app.id.to_s + '"></script>' %>

	<%= html_escape(code) %>
</p>
</div>
